.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
ENV/
build/
dist/
eggs/
.eggs/
parts/
sdist/
develop-eggs/
downloads/
eggs-info/
lib/
local/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
installed.cfg
*.egg
